STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...
MONGODB_URI=mongodb://localhost:27017/jesses_digital_ventures
PORT=8001
RESEND_API_KEY=re_...
SHOPIFY_CLIENT_ID=...
SHOPIFY_CLIENT_SECRET=shpss_...
SHOPIFY_WEBHOOK_SECRET=new_secret_here
SHOPIFY_ACCESS_TOKEN=shpat_...
GITHUB_PAT=ghp_...
GITHUB_REPO_OWNER=Jessdanie94
GITHUB_REPO_NYME=power-house
